html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.addAssetCardBody {
    background-color: #FFFACD;

}

.addAssetCardCaps {
    background-color: #EEE8AA;
}

.modalCap1 {
    background-color: #F3FFFF;
}
